.contact-me h1 {
  color: #4aaaa5;
  font-size: 28px;
  font-weight: bold;
}

.contact-me {  
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 25px 20px;
  box-sizing: border-box;
  overflow: hidden;
}

input {
  width: 100%;
    height: 20px;
    margin: 10px 0px;
    border: 1px solid #dddddd;
}

textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0px;
  border: 1px solid #dddddd;
}

.submit-btn {
  border-radius: 0;
  background-color: #49aaa4;
  width: 150px;
  color: white;
  height: 40px;
  font-size: 14px;
}

label {
  font-family: 'Arial', sans-serif;
  font-size: 14px;

}

/*MEDIA QUERIES*/
@media only screen and (max-width: 980px) {
  .contact-me {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .contact-me {
    width: 100%;
  }
}